.carousel {
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)),
        url(../../../asset/img/banner.jpg);
    background-size: cover;
    background-position: center;

    .container {
        .row {
            padding: 3rem 0;

            .col-6:nth-of-type(1) {
                h5 {
                    color: $color-light;
                    font-weight: 300;
                    line-height: 1.2;
                    margin: 1.5rem 0;
                    font-size: 3.5rem;
                }

                .star {
                    color: rgba(255, 255, 255, 0.5);
                    margin-bottom: 3rem;

                    i {
                        cursor: pointer;
                        padding-right: 4px;

                        &:hover {
                            color: $color-light;
                        }
                    }
                }

                p {
                    width: 635px;
                    line-height: 26px;
                    color: rgba(255, 255, 255, .5);
                    padding-bottom: 1rem;
                    margin-bottom: 1.5rem;
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                h3 {
                    color: $color-light;
                    font-weight: 500;
                    line-height: 1.2;
                }
            }

            .carousel__img {
                padding-top: 5px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
@include responsive('large'){
    .carousel {
        padding: 0 1.4rem;

        .container {
            .row {
                .col-6:nth-of-type(1) {
                    h5 {
                        font-size: calc(1.475rem + 2.7vw);
                        font-weight: 300;
                        line-height: 1.2;
                    }

                    p{
                        width: 100%;
                    }
                }
                .col-6:nth-of-type(2) {
                    margin-top: 3rem;

                    .carousel__img {
                        img {
                            width: 100%;
                        }
                    }
                }

                
            }
        }
    }
}
@include responsive('medium') {
    .carousel {
        padding: 0 1.4rem;

        .container {
            .row {
                display: grid;

                .col-6 {
                    max-width: 100%;
                }

                .col-6:nth-of-type(1) {
                    h5 {
                        font-size: calc(1.475rem + 2.7vw);
                        font-weight: 300;
                        line-height: 1.2;
                    }

                    .star {
                        i {
                            font-size: 16px;
                        }
                    }

                    h3 {
                        font-size: 1.6rem;
                    }
                }

                .col-6:nth-of-type(2) {
                    margin-top: 3rem;

                    .carousel__img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include responsive("sm") {
    .carousel {
        padding: 0;
        .container {
            padding: 0;
            .row{
                .col-6:nth-of-type(1){
                    padding: 0 10px;
                    p{
                        width: 100%;
                    }
                    h3{
                        font-size: 1.5rem;
                    }
                }
                .col-6:nth-of-type(2){
                    padding: 0 10px;
                    .carousel__img{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}