/*STORE HEADER*/

#header {
    position: fixed;
    width: 100%;
    z-index: 999999999999;

    .navbar {
        .navbar-brand {
            &:focus {
                color: $color-light;
            }

            color: $color-light;
            margin-right: 3rem;

            &:hover {
                color: $color-light;
            }

            i {
                vertical-align: -0.07em;
                font-size: 1.25em;
                line-height: .05em;
                margin-right: 0.6rem;
            }
        }

        .collapse {
            display: flex;
            justify-content: space-between;

            .navbar-nav:nth-of-type(1) {
                .nav-link:nth-of-type(1) {
                    margin: 0 3rem;
                }

                i {
                    display: block;
                    font-size: 1.5em;
                    text-align: center;
                }
            }

            .navbar-nav:nth-of-type(2) {
                .nav-link {
                    position: relative;
                    padding-right: 20px;

                    i {
                        position: relative;
                        left: -11px;
                    }

                    span {
                        position: absolute;
                        padding: 0.2em 0.5em;
                        top: 0px;
                        left: 15px;
                        z-index: 1;
                        border-radius: 50rem;
                        background-color: $color-light;
                        color: $color-dark;
                        font-size: .75em;
                        font-weight: 700;
                        line-height: 1;
                        text-align: center;
                    }
                }

            }

            .navbar-nav {
                i {
                    display: block;
                    font-size: 1.5em;
                }

                .nav-link {
                    color: $color-light;
                    transition: all 0.3s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}

@include responsive("md") {
    #header {
        padding: 0 1.25rem;

        .navbar {
            .container {
                button {
                    color: rgba(255, 255, 255, .55);
                    border-color: rgba(255, 255, 255, .1);
                    translate: all .5s;

                    i {
                        padding: 3px 4px;
                    }

                    &:focus {
                        box-shadow: 0 0 0 0.25rem;
                    }
                }

                margin: 0 !important;

                .navbar-collapse:not(.show) {
                    display: none;
                }

                .navbar-collapse {
                    display: grid;
                    grid-template-columns: auto;
                    text-align: center;
                    justify-content: center;

                    .navbar-nav:nth-of-type(2) {
                        .nav-link {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

@include responsive("sm") {
    #header {
        padding: 0;

        .navbar {
            padding: 0.5rem 12px;

            .container {}
        }
    }
}